
<h3>These are all our apartmanets in this location</h3>

<div class='container'>
  <div class='row'>
    <% @listings.each do |listing| %>
      <%= link_to listing_path(listing), class: "cards col-6 col-md-4 col-lg-3 no-decoration" do %>
        <%= render "shared/card", listing: listing %>
      <% end %>
    <% end %>
  </div>
</div>

<div>
<%= link_to "Back to Homepage", root_path %>
</div>
