<div class='container pt-5 mt-4'>
<div class='row pt-2 pb-2'>
<h3>These are our apartments in this location</h3>
</div>
  <div class='row'>
    <div class="col-lg-6">
      <div class='row'>
        <% @listings.in_groups_of(2, false) do |group| %>
          <div class='col-lg-6'>
            <% group.compact.each do |listing| %>
              <div class="mb-3">
                <%= link_to listing_path(listing), class: "cards col-6 col-md-4 col-lg-3 no-decoration" do %>
                  <%= render "shared/card", listing: listing %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="sticky-top">
        <div class="map">
          <div class="map" style="height: 100vh"
            data-controller="map"
            data-map-markers-value="<%= @markers.to_json %>"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
