// Specific CSS for your home-page

.home--subheading {
  text-align: center;
  color: rgb(98, 0, 98);
  margin: 4rem auto;
  font-weight: 600;
  font-size: 3rem;
}

body {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.dummy--spacer {
  height: 8rem;
}
