.new-booking-header {
  color: rgb(98, 2, 98);
  font-size: 1.3rem;
}

.btns-container {
  display: flex;
  gap: 2px
}

#btn-submit {
  background-color: purple;
  color: antiquewhite;
  padding: 8px;
  border-radius: 3px;
  text-decoration: none;
  font-size: 14px;
}

#btn-submit:hover {
  background-color: rgb(98, 0, 98);
  color: antiquewhite;
}

#btn-cancel {
  background-color: antiquewhite;
  color: rgb(113, 19, 4);
  padding: 8px;
  border-radius: 3px;
  text-decoration: none;
  font-size: 14px;
  border: 1px solid rgb(113, 19, 4);
  transition: all 0.3s;
}

#btn-cancel:hover {
  background-color: rgb(183, 2, 2);
  color: antiquewhite;
  padding: 8px;
  border-radius: 3px;
  text-decoration: none;
  font-size: 14px;
  border: 1px solid rgb(113, 19, 4);
}

.booking-container{
  //  justify-content: end;
   border: 1px rgb(160, 160, 160) solid;
   border-radius: 8px;
   width: 400px;
   height: 300px;;
 }
