.arrival{
  font-size: 16;
  border-bottom: 2px rgb(160, 160, 160) solid;
}

.btn {
  background-color: purple;
  color: antiquewhite;
  padding: 8px;
  border-radius: 3px;
  text-decoration: none;
  font-size: 14px;
}

.btn:hover {
  background-color: rgb(98, 0, 98);
  color: antiquewhite;
}

.container{
  justify-content: center;
}

.grid-image{
  border-radius: 50%;
}

.info-details{
  font-size: 16;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  border-bottom: 2px rgb(160, 160, 160) solid;
}

.offers{
  margin-top: 1.5rem;
  border-top: 2px rgb(160, 160, 160) solid;
}

.fa-solid{
  color: purple;
}

.img {
  object-fit: cover;
  border-radius: 25px;
  // border: 2px solid white;
}

h2 {
  color: purple;
}
.buttons-container{
  font-size: 12px;
}
