.arrival{
  font-size: 16;
}

.btn {
  background-color: purple;
  color: antiquewhite;
  padding: 8px;
  border-radius: 3px;
  text-decoration: none;
  font-size: 18px;
}

.btn:hover {
  background-color: rgb(98, 0, 98);
  color: antiquewhite;
}

.container{
  justify-content: center;
}

.grid-image{
  border-radius: 50%;
}

.info-details{
  font-size: 16;
  margin-bottom: 1.5rem;
}

.buttons-container{
  justify-content: end;
}

.img {
  object-fit: cover;
  border-radius: 25px;
  // border: 2px solid white;
}
