.arrival{
  font-size: 16;
}

.btn{
  border-radius: 5px;
}

.btn:hover {
  background-color: rgb(224, 210, 192);
}

.container{
  justify-content: center;
}

.grid-image{
  border-radius: 50%;
}

.info-details{
  font-size: 16;
  margin-bottom: 1.5rem;
}

.buttons-container{
  justify-content: end;
}
