  <div class='container pt-5 mt-4 mb-4'>
    <div class='row'>
    <h3>Booking Confirmation</h3>
      <% @bookings.each do |booking| %>
        <div class='col-md-3 mb-4'>
          <%= link_to booking_path(booking), class: "no-decoration" do %>
            <%= render "shared/booking", booking: booking %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
    <p><%= link_to "Back to listings", root_path, class: "no-decoration" %></p>
</div>




<!-- 1. Replace "My Bookings" with "Booking confirmation" -->
<!-- 2. Show how much the listing is going to cost for the booking period (price X (start date - end date)) -->
<!-- 3. Show a discount section and apply discount if (first time booking == true OR booking period > 20 days)-->
