<h2>Booking Confirmations</h2>

<div class="container">
    <div class="row">
      <% @bookings.each do |booking| %>
      <div class='col-md-3'>
        <%= render "shared/booking", booking: booking %>
      </div>
      <% end %>
    </div>
</div>
<!-- 1. Replace "My Bookings" with "Booking confirmation" -->
<!-- 2. Show how much the listing is going to cost for the booking period (price X (start date - end date)) -->
<!-- 3. Show a discount section and apply discount if (first time booking == true OR booking period > 20 days)-->
