<div class="cards col-3">
  <div class="card-trip">
    <img src="<%= listing.image %>" style="width: 250px; height: 250px" />
    <i class="fa-regular fa-heart"></i>
    <div class="card-trip-infos">
      <div>
        <h2><strong><%=listing.title%></strong></h2>
        <p><%= listing.content %></p>
      </div>
      <h3 class="card-trip-pricing">€<%= listing.price%></h3>
        </div>
  </div>
</div>
