<div class="cards col-3">
  <div class="card-trip">
    <div class = "card-image">
      <img src="<%= listing.image %>" style="width: 250px; height: 250px" />
    </div>
    <div class = "card-heart">
      <i class="fa-regular fa-heart"></i>
    </div>
    <div class="card-trip-infos">
      <div>
        <h2>Title here</h2>
        <p><%= listing.content %></p>
      </div>
      <h3 class="card-trip-pricing">£99.99</h3>
        </div>
  </div>
</div>
