

  <div  class='hero row'>
    <h1 class='col col-6'>Find the perfect place on your travels.</h1>
    <div class='col col-3'>
      <form class="form-inline ml-auto" action="<%= listings_path %>" method="GET">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search destinations">
          <div class="input-group-append">
            <button class="btn" id='btn-submit' type="submit">Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>
