<%= render "shared/hero" %>

<h2 class='home--subheading'>Current Listings on Offer</h2>

</div>
  <div class='container'>
    <div class='row'>
      <% @listings.each do |listing| %>
        <div class='col-md-3 mb-4'>
          <%= link_to listing_path(listing), class: "no-decoration" do %>
            <%= render "shared/card", listing: listing %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
