<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div class='container'>
  <div class='row gap-1'>
    <div class='bg bg-primary col-3'>
      <img src="https://unsplash.com/pt-br/fotografias/MgCZBzzvMEY?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink" alt="" style="width: 50px; height: 100px;">
    </div>
    <div class='bg bg-primary col-3'>asdasd</div>
    <div class='bg bg-primary col-3'>zsdsd</div>
    <div class='bg bg-primary col-3'>zdzds</div>
    <div class='bg bg-primary col-3'>zsdsd</div>
    <div class='bg bg-primary col-3'>zdzds</div>
  </div>
</div>







<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
