
<h3>Find the perfect vacation home</h3>
<br>

<div class='container'>
  <div class='row'>
    <% @listings.each do |listing| %>
      <%= link_to listing_path(listing), class: "cards col-6 col-md-4 col-lg-3 no-decoration" do  %>
        <%= render "shared/card", listing: listing %>
      <% end %>
    <% end %>
  </div>
</div>

<div>
  <%= render "shared/footer" %>
</div>

<%= link_to "New Listing", new_listing_path %>
