<h1>Test Page</h1>
<%# <%= render "shared/card", danko: "1" %>

<%# booking button %>

<%# listing card %>

<%# cards grid %>

<%= render "shared/card", listing: @listing %>

<%= render "shared/footer" %>
