.card{
  width:  240px;
  height: 340px;
  margin: 3rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-trip{
  width:  240px;
  position: relative;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-trip-infos p{
  font-size: 12px;
  padding: 12px;
}

.card-trip-infos h2{
  font-size: 16px;
  padding: 0 12px;
}

.card-trip-pricing h3{
  font-size: 12px;
  font-weight: bold;
  padding: 12px;
}

.card-image{
  width: 100%;
  border-radius: 4%;
  overflow: hidden;
  margin-bottom: 16px;
}

.card-trip .card-heart{
  font-size: 1.5rem;
  color: white;
  position: absolute; top:0; right:16px;
}

.no-decoration {
  text-decoration: none;
  color: black;
}

.fa-heart {
  color: rgb(98, 2, 98);
}
