.card-trip{
  width:  240px;
  height: 500px;
  border-radius: 4%;
  overflow: hidden;
}

.card-trip-infos p{
  font-size: 10px;
}

.card-trip-infos h2{
  font-size: 14px;
}

.card-trip-pricing{
  font-size: 10px;
  font-weight: bold;
}
