.card-trip{
  width:  8rem;
  height: 8rem;
  border-radius: 16px;
}

.card-trip-infos p{
  font-size: 10px;
}

.card-trip-infos h2{
  font-size: 14px;
}

.card-trip-pricing{
  font-size: 10px;
  font-weight: bold;
}
